**/hw1/bin/*
**/hw1/data
**/hw1/inc
**/hw1/models/model_0*.txt
**/hw1/out/out.csv
**/hw1/out/plot.svg
**/hw1/out/result.txt
**/hw1/report
**/hw1/src/test_hmm.c
**/hw1/dsp_hw1.pdf
**/hw1/modellist.txt
**/hw1/qa.pdf

**/*.zip
